.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    flex-direction: column;
    background: #131313;
    gap: 20px;
    padding: 20px 0px;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}